<div class="row">
  <div class = "col-md-3">
    <h3>Date filter</h3>
    <%= render 'current_filter' %>
    <%= form_tag("/report", :method => "get", :class => 'form' ) do %>
      <div class="form-group">
        <%= label_tag :start_date %><br>
        <%= date_field(nil, :start_date) %>
      </div>
      <div class="form-group">
        <%= label_tag :end_date %><br>
        <%= date_field(nil, :end_date) %>
      </div>
      <%= button_tag(raw('<span class="glyphicon glyphicon-search"></span> Filter'), :class => 'btn btn-primary') %>
    <% end %>
  </div>
  <div class = "col-md-9">
    <div class="tabbable">
      <ul class="nav nav-tabs">
        <li class="<%= 'active' if params[:tab] == nil %>"><a href="#user" data-toggle="tab">User</a></li>
        <li class="<%= 'active' if params[:tab] == 'city' %>"><a href="#city" data-toggle="tab">City</a></li>
        <li class="<%= 'active' if params[:tab] == 'country' %>"><a href="#country" data-toggle="tab">Country</a></li>
        <li class="<%= 'active' if params[:tab] == 'date' %>"><a href="#date" data-toggle="tab">Date</a></li>
      </ul>
      <div class="tab-content">
        <div class="<%= if (params[:tab] == nil) then 'tab-pane active'  else 'tab-pane' end%>" id="user">
            <%= render 'user'%>
        </div>
        <div class="<%= if (params[:tab] == 'city') then 'tab-pane active'  else 'tab-pane' end%>" id="city">
            <%= render 'city'%>
        </div>
        <div class="<%= if (params[:tab] == 'country') then 'tab-pane active'  else 'tab-pane' end%>" id="country">
            <%= render 'country'%>
        </div>
        <div class="<%= if (params[:tab] == 'date') then 'tab-pane active'  else 'tab-pane' end%>" id="date">
            <%= render 'date'%>
        </div>
      </div>
    </div>
  </div>
</div>
